body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* Header */
.header {
  background-color: rgba(114, 158, 100, 1);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nombre {
  font-style: italic;
  font-size: 1.2rem;
}

/* Estructura general */
.contenedor-principal {
  display: flex;
  height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
  background-color: rgba(173, 199, 166, 1);
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.menu-btn {
  width: 140px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.menu-btn:hover, .menu-btn.activo {
  background-color: rgba(114, 158, 100, 0.2);
}

/* Contenido */
.contenido {
  flex: 1;
  padding: 20px 40px;
}
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.form-container {
  text-align: center;
  margin-top: 40px;
}

h2 {
  margin-bottom: 30px;
  font-weight: 600;
}

.form-card {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #f9f9f9;
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  width: 70%;
  margin: 0 auto;
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 45%;
}

label {
  text-align: left;
  font-style: italic;
}

input, textarea {
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
  resize: none;
}

textarea {
  height: 100px;
}

input:focus, textarea:focus {
  border-color: #8a73d6;
  box-shadow: 0 0 5px rgba(138,115,214,0.3);
}

.btn-agregar {
  margin-top: 25px;
  padding: 10px 25px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-agregar:hover {
  background-color: #3c3c3c;
}